{% extends 'base.html.twig' %}

{% block title %}{{ categorie.libelle }}{% endblock %}

{% block body %}  
    <div class="container-fluid g-0 row">
        
        <!-- Titre pour la catégorie en cours, dynamique selon le libellé de la catégorie -->
        <div class="row justify-content-center mt-3">
            <h2 class="fs-1 col-12 ms-md-5">Nos plats dans la catégorie {{ categorie.libelle }} :</h2>
            
            <div class="row justify-content-center">
                
                <!-- Boucle sur la liste des plats dans la catégorie courante -->
                {% for plats in plat %}
                
                <!-- Carte pour chaque plat -->
                <div class="card col-4 flex-row mt-3 mx-md-5" style="width: 35rem">
                    <!-- Image du plat avec gestion de la taille (ici, largeur fixe et hauteur ajustable) -->
                    <img src="{{ asset ('img/food/' ~ plats.image) }}" class="rounded-3 img-fluid m-auto" alt="{{ plats.libelle }}'_food" style="width: 10rem; height: fit-content;"loading="lazy">
                    
                    <!-- Corps de la carte avec le titre, description et prix du plat -->
                    <div class="card-body">
                        <!-- Titre du plat -->
                        <h5 class="card-title mt-md-4">{{ plats.libelle }}</h5>
                        
                        <!-- Description du plat -->
                        <p class="card-text">{{ plats.description }}</p>
                        
                        <!-- Prix du plat -->
                        <p class="card-text">{{ plats.prix }}</p>
                        
                        <!-- Bouton pour ajouter le plat au panier, avec une gestion responsive -->
                        <div class="d-flex justify-content-end">
                            <!-- Bouton pour les écrans larges (positionné en bas à droite) -->
                            <a href="{{ path ("app_ajout_panier" , {id: plats.id}) }}" class="d-none d-md-block btn btn-primary btn-lg position-absolute bottom-0 end-0">Ajouter</a>
                            
                            <!-- Bouton pour les petits écrans (positionné en bas à gauche) -->
                            <a href="{{ path ("app_ajout_panier" , {id: plats.id}) }}" class="d-block d-md-none btn btn-primary btn-lg position-absolute bottom-0 start-0">Ajouter</a>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
